
<%= form_tag({:action=>'list'},:method => "post", :class => "") do %>




    <div>
      <table  >
        <tr>
          <td><%= label_tag "from"%></td>
          <td><%= select_tag :d_form, options_for_select(["Kabul", "Herat","Kandahar","Nangarhar","Balkh", "Sarepool"])%> </td>
        </tr>
        <tr>
          <td> <%= label_tag "Distanation"%></td>
          <td><%= select_tag :d_to, options_for_select(["Kabul", "Herat","Kandahar","Nangarhar","Balkh", "Sarepool"]) %></td>
        </tr>
        <tr>
          <td><%= label_tag "Time"%></td>
          <td><%= text_field_tag 'travel_t', nil, :placeholder => 'example 12:00' %> </td>
        </tr>
        <tr class="controls">
          <td><%= label_tag "Date" %></td>
     <td>   <%=   date_select("show", "date", :default => Date.today,
          :order => [:month, :day, :year], :start_year => Date.today.year,
          :end_year => Date.today.year + 3)    %>  </td>


          </tr>
        <tr>
          <td colspan="2"><%= submit_tag "Search",:name=>nil %></td>
        </tr>
          </table>
        </div>
 <% end %>
 
 
