<div style="height: 400px">
<div class="table">



  <h2>Routs Defined</h2>
  <table summary="users list" class="table table-striped">
    <tr class="success">
      <th>&nbsp;</th>
      <th>Frome</th>
      <th>Destanition</th>
      <th>Price</th>

      <th>Travel Date</th>
      <th>Travel Time</th>



      <th colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
    </tr>




    <%@routs.each do |rout| %>
        <tr>
          <td>&nbsp;</td>
          <td><%= rout.d_from %></td>
          <td><%= rout.d_to%></td>
          <td><%= number_to_currency(rout.price, :unit => "Afg;", :format => "%n %u") %></td>

          <td><%= rout.travel_date %></td>
          <td><%= rout.travel_t %></td>

          <td><%= link_to 'Show', rout %></td>
          <td><%= link_to 'Edit', edit_rout_path(rout) %></td>
          <td><%= link_to 'Destroy', rout, method: :delete, data: { confirm: 'Are you sure?' } %></td>


        </tr>

    <% end %>

  </table>
  <% if current_user!=nil %>
  <%= link_to 'Create New rout', new_rout_path %>|
   <% end %>
  <%= link_to 'New Search', {:action => 'index'} %>


</div>
<div class="table">

<%= will_paginate @routs,:previous_label=>"<<",:next_label=>">>"  %>

</div>
</div>