<%= form_for(@user,{:class=>"form-horizontal"}) do |f| %>

  <div>
      <table>
    <tr>
      <td><%= f.label "First_Name",:class=>"label label-info"%></td>
      <td><%= f.text_field :first_name %> </td>
    </tr>
    <tr>
     <td> <%= f.label :Last_Name ,:class=>"label label-info"%></td>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr class="controls">

      <td><%= f.label :"User Name",:class=>"label label-info" %><br /></td>
      <td><%= f.text_field :username, :class=>"inputInfo" %></td>


    </tr>

       <tr>
      <td><%= f.label :Phone,:class=>"label label-info" %></td>
      <td><%= f.telephone_field :phone %></td>
    </tr>
    <tr>
      <td><%= f.label :NID_No ,:class=>"label label-info"%><br /></td>
      <td><%= f.number_field :nid_no %>        </td>
    </tr>
    <tr>
      <td><%= f.label :Licence_No,:class=>"label label-info"%>    </td>
      <td><%= f.number_field :licence_no, :class=>"" %></td>
    </tr>

    <tr >
      <td colspan="2">&nbsp;&nbsp;&nbsp;<%= f.submit :class=>"btn btn-primary" %></td>
    </tr>
      </table>

        </div>
        <%= link_to 'Create New User', new_user_path %>

<% end %>