

<%= form_for(@rout,{:class=>"form-horizontal"}) do |f| %>

  <div>
      <table  >
    <tr>
      <td><%= f.label "from",:class=>"label label-info"%></td>
      <td><%= f.select :d_from,  options_for_select(["Kabul", "Herat","Kandahar","Nangarhar","Balkh","Khost", "Sarepool"])%> </td>
    </tr>
    <tr>
     <td> <%= f.label :Destination,:class=>"label label-info"%></td>
      <td><%= f.select  :d_to, options_for_select(["Kabul", "Herat","Kandahar","Nangarhar","Balkh","Khost", "Sarepool"]) %></td>
    </tr>
    <tr class="controls">

      <td><%= f.label :"price",:class=>"label label-info" %><br /></td>
      <td><%= f.number_field :price, :class=>"inputInfo" %></td>

    </tr>
       <tr>
      <td><%= f.label :date,:class=>"label label-info" %></td>


      <td>
       <input type="text" value="<%= @t_date %>"  data-behaviour='datepicker' name="travel_date">
      </td>

    </tr>
    
    <tr>
      <td><%= f.label :free_seats ,:class=>"label label-info"%><br /></td>
      <td><%= f.number_field :free_seats, :ignore_date => true%>        </td>
    </tr>
    <tr>
      <td><%= f.label  :travel_time ,:class=>"label label-info"%><br /></td>
      <td><%= f.text_field :travel_t, :placeholder => "Enter time format as(hh:mm)"%>        </td>
    </tr>

    <tr>
     <td><%= f.label  :Car_Plate_Number ,:class=>"label label-info"%><br /></td>
      <td><%= f.collection_select(:car_id,  @cars, :id,:number_plate,:prompt => true ) %>      </td>

    </tr>
    
    <tr>
      <td><%= f.label :Descriptions ,:class=>"label label-info"%><br /></td>
      <td ><%= f.text_area :description %>        </td>
    </tr>
      <tr>
       <td><%= f.hidden_field :userId, :value => current_user.id %>        </td>
    </tr>      
     
    
    <tr >
      <td colspan="2">&nbsp;&nbsp;&nbsp;<%= f.submit :class=>"btn btn-primary" %></td>
    </tr>
      </table>

        </div>
<% end %>

<script type="text/javascript">
    $('[data-behaviour~=datepicker]').datepicker({
        dateFormat: 'yy-mm-dd'
    })


</script>
