
<table border="2"  class="table table-striped" summary="Routs Description">
	
		
		<tr >
		<td>From:</td>	
		<td><%= @rout.d_from %></td>
		</tr>
		<tr >
		<td>Distanation:</td>
		<td> <%= @rout.d_to %></td>
		</tr>
			
		<tr>
			<td>Price:</td>
			<td><%= number_to_currency(@rout.price, :unit => "Afg;", :format => "%n %u") %></td>
			
		</tr>
		
		<tr>
			<td>Avalible Seats:</td>
			<td> <%= @rout.free_seats %></td>
		</tr>
		<tr>
			<td>Travelling Date:</td>
			<td><%= @rout.travel_date %></td>
		</tr>
		
		<tr>
			<td>Travelling Time:</td>
			<td><%= @rout.travel_t %></td>
		</tr>

		
	<tr>
		<td>Descriptions:</td>
		<td> <%= @rout.description %></td>
	</tr>
		
				

	
</table>

<%= link_to 'Edit The Rout', edit_rout_path(@rout) %> |
<%= link_to 'Back to the Routs', routs_path %>|
<%= link_to 'Delete This Rout', @rout, method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'Create New Rout', new_rout_path %>
