<div class="table">
  <h2>User Cars</h2>
  <table summary="users list" class="table table-striped">
    <tr class="success">
      <th>&nbsp;</th>
      <th>Number Plate</th>
      <th>Model</th>
      <th>Company</th>

      <th>Number Passengers</th>
      <th>Description</th>

      <th colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
    </tr>





    <% @cars.each do |car| %>
        <tr>
          <td>&nbsp;</td>
          <td><%= car.number_plate %></td>
          <td><%= car.model%></td>
          <td><%= car.company %></td>

          <td><%= car.no_passengers %></td>
          <td><%= car.others %></td>
          <td>
          <div class="btn-group">
            <button class="btn btn-primary">Action</button>
            <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
              <span class="caret "></span>
            </button>
            <ul class="dropdown-menu">

              <li> <%= link_to 'Edit', edit_car_path(car) %></li>
              <li><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              <li class="divider"></li>
              <li><%= link_to("Register New Car", new_car_path)%></li>
              <li><%= link_to 'Show', car %></li>
            </ul>
          </div>




          </td>




        </tr>

    <% end %>

  </table>

  <%= link_to 'Register New Car', new_car_path %>

  </div>