<!DOCTYPE html>
<html>
<head>
  <title>Carpool</title>
  <%= stylesheet_link_tag    "application","main.css", :media => "all" %>
  <%= javascript_include_tag "application","main.js" %> 
  <%= calendar_date_select_includes %> 
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <!--Body content-->
        <% if user_signed_in? %>
            <h3>Welcome here <%= current_user.email %></h3>
            <%= link_to 'Sign out', destroy_user_session_path, :method => 'delete' %>

        <% else %>
            <%= link_to 'Sign In', new_user_session_path  %> or <%= link_to 'Sign up',  new_user_registration_path  %>
        <% end %>



      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>

    </div>
  </div>
</div>



</body>
</html>
